name: Deploy data to Pages

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - "data/**"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact (only /data)
        uses: actions/upload-pages-artifact@v3
        with:
          path: data

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4

